$portraitMobile: 486px;
$mobile: 768px;
$tablet: 1024px;

$maxWidth: 1728px;

$menuSpeed: 250ms;

$buttonBg: #e5fbff;
$buttonBorder: #98e2e6;

$darkGray: #231f20;
$gray: #686868;
$lightGray: #efefef;

$darkblue: #286ca1;
$red: #d01012;
$yellow: #f0cc02;
$blue: #0099d5;
$green: #72a31b;